* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: TwitterChirp; */
}

@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/fonts/chirp-bold-web.woff2) format('woff2');
  src: url(https://abs.twimg.com/fonts/chirp-bold-web.woff) format('woff');
  font-weight: 700;
  font-style: 'normal';
  font-display: 'swap';
}


