.login_screen   {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;

    .img {
        width: 45px;
    }
        
    .input {
        width: 95%;
    }
        
    .button {
        width: 95%;
    }


    a {
        color: #1E90FF;
        text-decoration: none;

    
    
        &:hover {
            text-decoration: underline;
        }

    }
}

